body {
    background-color: #ffffff;
    
}
main {
   
}
.void-left {
    border: 1px solid black;
    visibility: hidden;
}
.void-right {
    border: 1px solid black;
    visibility: hidden;
}
.main-pages {
    border: 1px solid red;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
