body {
    background-color: #ffffff;
    
}
.void-left {
    border: 1px solid black;
    visibility: hidden;
}
.void-right {
    border: 1px solid black;
    visibility: hidden;
}
.main-pages {
    border: 1px solid red;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.items-page {
    border: 1px solid blue;
}
.shoppig-cart {
    border: 1px solid blue;
}
.customer-data {
    border: 1px solid blue;
}
.number-box {
    width: 30px;
}
