body {
    background-color: #ffffff;
}
.void-left {
    border: 1px solid black;
    visibility: hidden;
}
.void-right {
    border: 1px solid black;
    visibility: hidden;
}
.sales-page {
    border: 1px solid red;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
