main {
    display: flex;
    flex-direction: row;
}
.void-left {
    visibility: visible;
    border: 1px solid black;
    width: 20%;
    height: 100vh;
}
.void-right {
    visibility: visible;
    border: 1px solid black;
    width: 20%;
    height: 100vh;
}
.main-pages {
    width: 60%;
    padding-top: 100px;
}

