@charset "UTF-8";
/* Hamburgerknapp */
/*nav:not(.open) {
    @include visually-hidden;
}
*/
header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: pink;
  width: 99vw;
  position: fixed;
  margin: 0;
  top: 0;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  padding-left: 10%;
  padding-right: 10%;
}

/* Hamburgerknapp börjar: */
.toggleMenu {
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  padding: 4px 8px;
  color: #ffffff;
  background: transparent;
}
.toggleMenu span {
  display: block;
  background-color: #000000;
  width: 35px;
  height: 4px;
  border-radius: 4px;
  margin-bottom: 4px;
}
.toggleMenuopen span:nth-child(2) {
  display: none;
}
.toggleMenuopen span:nth-child(1) {
  transform: rotate(45deg);
}
.toggleMenuopen span:nth-child(3) {
  transform: rotate(-45deg);
}

/* Hamburgerknapp slutar */
/* Shopping-cart button börjar */
.material-symbols-outlined {
  background-color: transparent;
  border: 0;
  font-size: 28px;
}

/* Shopping-cart button slutar */
@media screen and (min-width: 640px) {
  h1 {
    font-size: 3rem;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid red;
  }
  nav {
    height: 70px;
  }
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}
body {
  background-color: #ffffff;
}

.void-left {
  border: 1px solid black;
  visibility: hidden;
}

.void-right {
  border: 1px solid black;
  visibility: hidden;
}

.main-pages {
  border: 1px solid red;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-page {
  border: 1px solid blue;
}

.shoppig-cart {
  border: 1px solid blue;
}

.customer-data {
  border: 1px solid blue;
}

.number-box {
  width: 30px;
}

@media screen and (min-width: 640px) {
  main {
    display: flex;
    flex-direction: row;
  }
  .void-left {
    visibility: visible;
    border: 1px solid black;
    width: 20%;
    height: 100vh;
  }
  .void-right {
    visibility: visible;
    border: 1px solid black;
    width: 20%;
    height: 100vh;
  }
  .main-pages {
    width: 60%;
    padding-top: 100px;
  }
}
/*
@import "vendor/normalize";

*/